body{
    padding-top: 70px;
}
.jumbotron{
    color: red;
    background: url("F:\Sonu Code\Sonu.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.algn{
    text-align: center;
}
.navbar{
    background: #2c3e50;
}
.thumbnail a img{
    width: 100px;
        height: 100px;
}